data/real_world/*/*.h5ad
data/simulation/10x/*.csv
methods
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/
data/simulation/10X/reference/
data/simulation/10X/simulated/
data/simulation/10X/.ipynb_checkpoints/
benchmarking/utils/.vscode
data/simulation/reference/
data/simulation/simulated/
*/.ipynb_checkpoints/
*/.vscode
